{
  "extends": [
    "react-app",
    "plugin:prettier/recommended",
    "plugin:import/recommended"
  ],
  "rules": {
    "newline-after-var": "warn",
    "newline-before-return": "warn",
    "prefer-arrow-callback": "error",
    "arrow-body-style": ["error", "as-needed"],
    "import/order": [
      "warn",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
